// Customizations for Bulma

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Set initial variables
$family-serif: Poppins;

// Set derived variables
$family-primary: $family-serif;
$link-hover: white;
$link: white;
$warning: rgb(173, 173, 173);
$button-background-color: transparent;
$button-color: white;

// Bulma Import
@import '~bulma';